.text_img {
  height: 600px;
  min-height: 600px;
  min-width: 320px;
  img {
    object-fit: contain;
  }
  .horizontal_img {
    position: absolute;
    transform: translate(50%, 50%);
    left: -300px;
    bottom: 155px;
  }
}
